/* 
#ff6b35 orange
#f7c59f light orange
#efefd0 tan
#004e89 blue
#1a659e lighter blue */


/* Body styles */
.body {
    background-color: #efefd0;

}

/* Header styles */
.header {
    background-color: #ff6b35;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

/* Main layout */
.row {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

/* Search box styles */
#cityBox{
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}
#cityBox::placeholder {
    color: #888; 
}

#searchButton {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #1a659e;
    color: #efefd0;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #004e89;
}

/* prevSearches parent div */
.cityButtons {
    padding: 5px; 
    font-size: 14px; 
    border: none;
    border-radius: 3px;
    background-color: #1a659e;
    color: #fff;
    margin: 5px; 
}

.cityButtons:hover {
    background-color: #004e89; 
    cursor: pointer;
}

/* Weather display layout */
.searchBox{
    margin: 10px;
    padding: 15px;
    background: #f7c59f;
    border-radius: 8px; 
} 


/* Card styles */

.card-body {

    padding: 10px;
    background: #1a659e;
    border-color: #ff6b35;
    border: solid 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query for responsiveness */
/* @media (max-width: 768px) {
    main {
        flex-direction: column;
    }
} */
