/* 
#ff6b35 orange
#f7c59f light orange
#efefd0 tan
#004e89 blue
#1a659e lighter blue */


/* Body styles */
.body {
    background-color: #efefd0;

}

/* Header styles */
.header {
    background-color: #ff6b35;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

/* Main layout */
.row {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

/* Search box styles */
#cityBox{
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}
#cityBox::placeholder {
    color: #888; 
}

#searchButton {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #1a659e;
    color: #efefd0;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #004e89;
}

/* prevSearches parent div */
.cityButtons {
    padding: 5px; 
    font-size: 24px; 
    border: none;
    border-radius: 3px;
    background-color: #1a659e;
    color: #fff;
    margin: 5px; 
}

.cityButtons:hover {
    background-color: #004e89; 
    cursor: pointer;
}

/* Weather display layout */
.searchBox{
    margin: 10px;
    padding: 15px;
    background: #f7c59f;
    border-radius: 8px; 
} 

.fiveDayHeading{
    text-align: center;
    margin-top: 25px;
    display: none;
}



/* Card styles */

.card-body {

    padding: 10px;
    background: skyblue;
    border: solid 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #ff6b35;

    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.card-title {
    width: 100%; 
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    position: relative;
}
.card-title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #ff6b35, #1a659e); 
}

.card-text {
    padding: 5px;
    font-weight: 600; 
}

.fiveDay {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    
    
}

.card {
    display: flex;
    flex-direction: column;
}

.date {
    font-weight: bold;
    font-size: 1.2em;
    
}





/* Media query for responsiveness */
/* @media (max-width: 768px) {
    main {
        flex-direction: column;
    }
} */

/* Keyframes for icon animation */
@keyframes iconAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
  .card-body img {
    animation: iconAnimation 2s ease infinite; 
  }
  

  